 
  <!-- plugin for charts  -->
  <script src="/js/plugins/chartjs.min.js" async></script>
  <!-- plugin for scrollbar  -->
  <script src="/js/plugins/perfect-scrollbar.min.js" async></script>
  <!-- github button -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- main script file  -->
  <script src="/js/soft-ui-dashboard-tailwind.js?v=1.0.5" async></script>
  <script src="/js/chart-2.js" type="text/javascript" async="true"></script>
  <script src="/js/perfect-scrollbar.js" type="text/javascript" async="true"></script>
  <script src="/js/tooltips.js" type="text/javascript" async="true"></script>
  <script src="/js/chart-1.js" type="text/javascript" async="true"></script>
  <link href="/css/tooltips.css" type="text/css" rel="stylesheet">
  <script src="/js/dropdown.js" type="text/javascript" async="true"></script>
  <script src="/js/fixed-plugin.js" type="text/javascript" async="true"></script>
  <script src="/js/sidenav-burger.js" type="text/javascript" async="true"></script>
  <script src="/js/navbar-sticky.js" type="text/javascript" async="true"></script>
